{% extends 'base.html.twig' %}

{% block seo %}
    {{ include ('_includes/seo.html.twig', {
        'title': 'Support'|trans,
        'index': false,
    }) }}
{% endblock %}

{% block body %}
    {{ include('_includes/breadcrumb.html.twig', {
        'path': [
            {'customer': 'Customer Area'|trans},
            {'#': 'Support'|trans}
        ]
    }) }}

    <section id="orders">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include '_render_block/customer-profile-menu.html.twig' %}
                </div>
                <div class="col-md-9">

                    <h1>Hello, World</h1>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var options = {
            };

            querybizCustomerSupport.init(options);
        });
    </script>
{% endblock %}
